In [9]:
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine

### csv to sqlite

In [3]:
### read data : 

product = pd.read_csv("data/product.csv")
city = pd.read_csv("data/city.csv")
dealer = pd.read_csv("data/dealer.csv")
transaction = pd.read_csv("data/transaction.csv")

In [7]:
connection = sqlite3.connect("database/tugas2.db")
product.to_sql('product',connection,if_exists='replace')
city.to_sql('city',connection,if_exists='replace')
dealer.to_sql('dealer',connection,if_exists='replace')
transaction.to_sql('transaction',connection,if_exists='replace')

connection.close()

### sqlite to postgres

In [10]:
# Connect to SQLite database
sqlite_engine = create_engine('sqlite:///database/tugas2.db')

In [8]:
transaction.head(0)

Empty DataFrame
Columns: [transaksi_id, dealer_id, product_id, kota_id]
Index: []